  <% unless user_signed_in? %>
	 <div class="hero-unit">
		<h1>distred</h1>
		<p>
			Estas en la página principal de la aplicación
			<%= link_to "distred", "http://distred.co" %>
		</p>
		<p>
			<%= link_to "regístrate ahora", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>	


