<h1>About</h1>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	isa aproject to teach
	<%= link_to "ruby on Rails", "http://rubyonrails.org" %>
	in one month. This is the sample application.
</p>