<h1>Acerca</h1>
<p>
	<%= link_to "distred", "http://distred.co" %>
	Es un projecto realizado sobre la plataforma
	<%= link_to "ruby on Rails", "http://rubyonrails.org" %>
	. Esta es una aplicación preliminar.
</p>